.button {
    border: none;
    font-size: 14px;
    padding: 16px;
    border-radius: 4px;
    color: #2B4070;
    font-weight: 500;
    transition: 200ms box-shadow ease-in-out;
    position: relative;
    font-family: var(--main-font);
    
    &-primary {
        background-color: var(--color-primary);
        &:not(:disabled) {
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16);
        }
    }

    &-icon {
        --size-button: 36px;
        border: none;
        height: var(--size-button);
        width: var(--size-button);
        border-radius: 5rem;
        color: #6E6E73;
        background-color: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms all ease-in-out;

        &:not(:disabled) {
            &:hover {
                background: rgba(0, 0, 0, .16);
                cursor: pointer;
            }
        }
    }

    &:not(:disabled) {
        &:hover {
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
            cursor: pointer;
        }
    }

    &:disabled {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.35);
        }
    }
}